#app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  height: 300px;
  width: 500px;
}

#header {
  display: grid;
  grid-column: 1 / 5;
  background-color: #9BCE1D;
}

#nav {
  background-color: red;
}


#article-1 {
  background-color: lightcoral;
}

#article-2 {
  background-color: lightcoral;
}


#adarea {
  background-color: blue;
}

#footer {
  display: grid;
  grid-column: 1 / 5 ;
  background-color: #9BCE1D;
}
